In [62]:
import pandas as pd
import numpy as np
from pathlib import Path
import unicodedata

In [113]:
filepath = "/home/jouell/code/jouell3/NBA_app/Sport_stat/input/Player Totals.csv"
df_players = pd.read_csv("data/Player Totals.csv")
df_team_abbrev = pd.read_csv('data/Team Abbrev.csv')
df_salaries = pd.read_csv('data/players_salary.csv')
display(df_salaries.columns,
df_players.columns)

Index(['player', 'sum_salary', 'today', 'year'], dtype='object')

Index(['season', 'lg', 'player', 'player_id', 'age', 'team', 'pos', 'g', 'gs',
       'mp', 'fg', 'fga', 'fg_percent', 'x3p', 'x3pa', 'x3p_percent', 'x2p',
       'x2pa', 'x2p_percent', 'e_fg_percent', 'ft', 'fta', 'ft_percent', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'trp_dbl',
       'full_team_name'],
      dtype='object')

In [256]:
df_players["player_stripped"] = df_players["player"].map(strip_accents)

In [115]:
display(df_salaries.columns,
df_players.columns)

Index(['player', 'sum_salary', 'today', 'year'], dtype='object')

Index(['season', 'lg', 'player', 'player_id', 'age', 'team', 'pos', 'g', 'gs',
       'mp', 'fg', 'fga', 'fg_percent', 'x3p', 'x3pa', 'x3p_percent', 'x2p',
       'x2pa', 'x2p_percent', 'e_fg_percent', 'ft', 'fta', 'ft_percent', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'trp_dbl',
       'full_team_name', 'player_stripped'],
      dtype='object')

In [255]:
df_players.head(10)

,season,lg,player,player_id,age,team,pos,g,gs,mp,...,drb,trb,ast,stl,blk,tov,pf,pts,trp_dbl,full_team_name
0,2026,NBA,Precious Achiuwa,achiupr01,26.0,SAC,C,43,29.0,903.0,...,160.0,244.0,51,34.0,23.0,29.0,71.0,316,0.0,Sacramento Kings
1,2026,NBA,Steven Adams,adamsst01,32.0,HOU,C,32,11.0,730.0,...,131.0,276.0,48,22.0,20.0,35.0,55.0,187,0.0,Houston Rockets
2,2026,NBA,Bam Adebayo,adebaba01,28.0,MIA,C,42,42.0,1317.0,...,323.0,412.0,117,41.0,30.0,77.0,68.0,761,0.0,Miami Heat
3,2026,NBA,Ochai Agbaji,agbajoc01,25.0,TOR,SG,41,13.0,648.0,...,61.0,94.0,30,17.0,11.0,19.0,75.0,181,0.0,Toronto Raptors
4,2026,NBA,Santi Aldama,aldamsa01,25.0,MEM,PF,42,10.0,1174.0,...,215.0,281.0,126,36.0,29.0,54.0,66.0,590,0.0,Memphis Grizzlies
5,2026,NBA,Nickeil Alexander-Walker,alexani01,27.0,ATL,SG,49,42.0,1617.0,...,143.0,171.0,169,56.0,30.0,100.0,103.0,996,0.0,Atlanta Hawks
6,2026,NBA,Trey Alexander,alexatr01,22.0,NOP,SG,5,0.0,42.0,...,4.0,4.0,5,1.0,1.0,1.0,4.0,14,0.0,New Orleans Pelicans
7,2026,NBA,Grayson Allen,allengr01,30.0,PHO,SG,32,23.0,954.0,...,75.0,99.0,124,46.0,10.0,53.0,72.0,528,0.0,Phoenix Suns
8,2026,NBA,Jarrett Allen,allenja01,27.0,CLE,C,38,38.0,1028.0,...,212.0,296.0,74,38.0,30.0,56.0,72.0,506,0.0,Cleveland Cavaliers
9,2026,NBA,Jose Alvarado,alvarjo01,27.0,NOP,PG,39,0.0,850.0,...,94.0,109.0,124,37.0,4.0,47.0,77.0,312,0.0,New Orleans Pelicans

In [109]:

def strip_accents(s):
    if isinstance(s, str):
        return ''.join(
            c for c in unicodedata.normalize('NFD', s)
            if unicodedata.category(c) != 'Mn'
        )
    return s


def add_team(player):
    player_striped = strip_accents(player)
    selected_player = df_players[(df_players["player_stripped"] == player_striped)]
    if len(selected_player) > 0:
        return selected_player.iloc[0]["full_team_name"]
    else:
        return None

In [80]:
df_noteam = df_salaries[(df_salaries["full_team_name"].isna())]
len(df_noteam["Players"].unique())

130

In [174]:
folderpath = Path("/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/players")
# get all teh files from teh folder
files = list(folderpath.glob("*.csv"))

In [179]:
player_salaries = pd.DataFrame()
for file in files:
    df = pd.read_csv(file, header=0, names=["Ranking", "Player", "salary", "today_salaray"])
    df = df.drop("Ranking", axis=1).reset_index(drop=True)
    df["year"] = file.name[:4]
    
    player_salaries = pd.concat([player_salaries, df], ignore_index=True)

player_salaries

                  Player    salary today_salaray  year
0          Stephen Curry  43006362      52411485  2020
1      Russell Westbrook  41358814      50403633  2020
2             Chris Paul  41358814      50403633  2020
3              John Wall  41254920      50277018  2020
4           James Harden  41254920      50277018  2020
...                  ...       ...           ...   ...
15598     Thomas Gardner    101451        152978  2007
15599       Orien Greene     77061        116200  2007
15600     Guillermo Diaz     56065         84540  2007
15601     Stephane Lasme     48056         72463  2007
15602    DerMarr Johnson     42203         63638  2007

[15603 rows x 4 columns]

In [149]:
player_all = player_all.drop(player_all.iloc[:, -1:], axis=1)
player_all["year"].unique()

array(['2021', '2003', '2016', '2008', '2002', '1998', '2012', '2013',
       '1994', '1990', '2004', '1992', '2023', '2025', '2006', '1989',
       '2010', '1996', '2005', '2011', '2001', '2015', '2022', '2009',
       '2020', '2014', '1997', '1995', '2019', '1993', '2000', '2018',
       '1991', '2017', '2007', '2024', '1999'], dtype=object)

In [102]:
def abbreviation(team):
    if team in df_team_abbrev['abbreviation'].values:
        return df_team_abbrev[df_team_abbrev['abbreviation'] == team]['team'].values[0]
    else:
        return None

In [7]:
def team(player_id):
    team = df_players[df_players['player_id'] == player_id]['full_team_name'].values
    return team[0] if len(team) > 0 else None

In [243]:
def fill_team_full_name(player_ID, year):
    """
    Find team name for a player in a specific year using fuzzy matching
    
    Args:
        player_ID: Player ID from player_salaries
        year: Year to search
        
    Returns:
        team_full_name from df_players or None if not found
    """
    # Filter df_players for the specific year
    year_data = df_players[df_players["season"] == int(year)].copy()
    if len(year_data) == 0:
        return None
    
    # match player_ID with ID in df_players
    exact_match = year_data[year_data["player_id"] == player_ID]
    if len(exact_match) > 0:
        return exact_match.iloc[0]["full_team_name"]
    
    return None

In [168]:
# Apply the function to fill missing team names
df_salaries['full_team_name'] = df_salaries.apply(
    lambda row: fill_na_team(row['player'], row['year']) 
    if pd.isna(row['full_team_name']) 
    else row['full_team_name'], 
    axis=1
)

# Check how many are still missing
missing_count = df_salaries['full_team_name'].isna().sum()
print(f"Remaining missing team names: {missing_count}")

# Save the updated file
df_salaries.to_csv("data/salaries_updated.csv", index=False)
print("Saved updated salaries file")

Remaining missing team names: 1741
Saved updated salaries file

In [173]:
dict_id_name = dict(zip(df_players["player_id"], df_players["player"]))
np.save("data/dict_id_name.npy", dict_id_name, allow_pickle=True)

In [217]:
def add_player_id(player_name):
    player_id = df_players[df_players["player"] == player_name]["player_id"].values
    return player_id[0] if len(player_id) > 0 else None

def create_player_id(player):
    player_id = []
    names = player.split()
    if len(names) >1:
        if len(names[1]) < 6:
            player_id.append(names[1].lower())
        else:
            player_id.append(names[1][:5].lower())
        player_id.append(names[0][:2].lower())
        player_id.append("01")
        player_id = "".join(player_id)
        return player_id
    else:
        return "".join(names[0] + "01")

In [191]:
player_salaries["player_ID"] = player_salaries["Player"].apply(add_player_id)

In [218]:
player_salaries["player_id2"] = player_salaries["Player"].apply(create_player_id)
player_salaries

/tmp/ipykernel_862924/1097648213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_salaries["player_id2"] = player_salaries["Player"].apply(create_player_id)

                  Player    salary today_salaray  year  player_ID player_id2
0          Stephen Curry  43006362      52411485  2020  curryst01  curryst01
1      Russell Westbrook  41358814      50403633  2020  westbru01  westbru01
2             Chris Paul  41358814      50403633  2020   paulch01   paulch01
3              John Wall  41254920      50277018  2020   walljo01   walljo01
4           James Harden  41254920      50277018  2020  hardeja01  hardeja01
...                  ...       ...           ...   ...        ...        ...
15598     Thomas Gardner    101451        152978  2007  gardnth01  gardnth01
15599       Orien Greene     77061        116200  2007  greenor01  greenor01
15600     Guillermo Diaz     56065         84540  2007       None   diazgu01
15601     Stephane Lasme     48056         72463  2007       None  lasmest01
15602    DerMarr Johnson     42203         63638  2007  johnsde03  johnsde01

[15000 rows x 6 columns]

In [220]:
player_salaries['player_ID'] = player_salaries.apply(
    lambda row: row['player_id2'] if pd.isna(row['player_ID']) else row['player_ID'],
    axis=1
)
player_salaries

/tmp/ipykernel_862924/1942736722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_salaries['player_ID'] = player_salaries.apply(

                  Player    salary today_salaray  year  player_ID player_id2
0          Stephen Curry  43006362      52411485  2020  curryst01  curryst01
1      Russell Westbrook  41358814      50403633  2020  westbru01  westbru01
2             Chris Paul  41358814      50403633  2020   paulch01   paulch01
3              John Wall  41254920      50277018  2020   walljo01   walljo01
4           James Harden  41254920      50277018  2020  hardeja01  hardeja01
...                  ...       ...           ...   ...        ...        ...
15598     Thomas Gardner    101451        152978  2007  gardnth01  gardnth01
15599       Orien Greene     77061        116200  2007  greenor01  greenor01
15600     Guillermo Diaz     56065         84540  2007   diazgu01   diazgu01
15601     Stephane Lasme     48056         72463  2007  lasmest01  lasmest01
15602    DerMarr Johnson     42203         63638  2007  johnsde03  johnsde01

[15000 rows x 6 columns]

In [244]:
player_salaries["full_team_name"] = player_salaries.apply(
    lambda row: fill_team_full_name(row['player_ID'], row['year']), axis=1)

player_salaries

/tmp/ipykernel_862924/3510818770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_salaries["full_team_name"] = player_salaries.apply(

,Player,salary,today_salaray,year,player_ID,player_id2,full_team_name
0,Stephen Curry,43006362,52411485,2020,curryst01,curryst01,Golden State Warriors
1,Russell Westbrook,41358814,50403633,2020,westbru01,westbru01,Houston Rockets
2,Chris Paul,41358814,50403633,2020,paulch01,paulch01,Oklahoma City Thunder
3,John Wall,41254920,50277018,2020,walljo01,walljo01,None
4,James Harden,41254920,50277018,2020,hardeja01,hardeja01,Houston Rockets
...,...,...,...,...,...,...,...
15598,Thomas Gardner,101451,152978,2007,gardnth01,gardnth01,None
15599,Orien Greene,77061,116200,2007,greenor01,greenor01,Indiana Pacers
15600,Guillermo Diaz,56065,84540,2007,diazgu01,diazgu01,None
15601,Stephane Lasme,48056,72463,2007,lasmest01,lasmest01,None
15602,DerMarr Johnson,42203,63638,2007,johnsde03,johnsde01,Denver Nuggets

In [247]:
# Drop rows where "Player" column is not a string
initial_count = len(df_salaries)
df_salaries = df_salaries[df_salaries["player"].apply(lambda x: isinstance(x, str))]
final_count = len(df_salaries)

print(f"Dropped {initial_count - final_count} rows with non-string values in 'Player' column")
print(f"Remaining rows: {final_count}")

Dropped 0 rows with non-string values in 'Player' column
Remaining rows: 15603

In [260]:
def final_try(player, year):
    """
    Find team name for a player in a specific year
    
    Args:
        player: Player name from player_salaries
        year: Year to search
        
    Returns:
        team_full_name from df_players or None if not found
    """
    year_data = df_players[df_players["season"] == int(year)].copy()
    
    if len(year_data) == 0:
        return None
    
    names = strip_accents(player).split()
    if len(names) > 1:
        # Search by last name (second element)
        last_name = names[1]
        matches = year_data[year_data["player_stripped"].str.contains(last_name, case=False, na=False)]
        
        if len(matches) == 0:
            return None
        elif len(matches) == 1:
            return matches.iloc[0]["full_team_name"]
        else:
            # Multiple matches, filter by first name
            first_name = names[0]
            refined_matches = matches[matches["player_stripped"].str.contains(first_name, case=False, na=False)]
            
            if len(refined_matches) == 1:
                return refined_matches.iloc[0]["full_team_name"]
            elif len(refined_matches) > 1:
                # Still multiple matches, return the first one
                return refined_matches.iloc[0]["full_team_name"]
            else:
                return None
    else:
        # Only one name provided
        matches = year_data[year_data["player"].str.contains(names[0], case=False, na=False)]
        if len(matches) > 0:
            return matches.iloc[0]["full_team_name"]
        
    return None

In [261]:
df_salaries['full_team_name'] = df_salaries.apply(lambda row: final_try(row["player"], row["year"]), axis=1)
df_salaries.isna().sum()

player               0
sum_salary           0
today                0
year                 0
full_team_name    4753
dtype: int64

In [269]:
df_salaries2 = pd.read_csv("data/players_salary.csv")


initial_count = len(df_salaries2)
df_salaries2 = df_salaries2[df_salaries2["player"].apply(lambda x: isinstance(x, str))]
final_count = len(df_salaries2)

print(f"Dropped {initial_count - final_count} rows with non-string values in 'Player' column")
print(f"Remaining rows: {final_count}")

Dropped 0 rows with non-string values in 'Player' column
Remaining rows: 15603

In [271]:
df_salaries2['full_team_name'] = df_salaries2.apply(lambda row: final_try(row["player"], row["year"]), axis=1)
df_salaries2.isna().sum()

player               0
sum_salary           0
today                0
year                 0
full_team_name    4753
dtype: int64

In [275]:
df_salaries2.to_csv("data/players_salary_updated2.csv", index=False)

In [274]:
all_none = df_salaries2[df_salaries2['full_team_name'].isna()]
all_none.groupby('player')['year'].nunique().sort_values(ascending=False).head(20)

player
Louis Williams      15
Nenê                14
JR Smith            14
Ishmael Smith       14
Maurice Williams    12
Patrick Mills       12
PJ Brown            12
Dennis Schroeder    11
Enes Kanter         11
CJ Miles             8
TJ Ford              7
PJ Tucker            7
Andrew Nicholson     7
Troy Williams        6
Corey Brewer         6
Jose Juan Barea      6
CJ Watson            6
B.J. Tyler           5
AJ Price             5
Timofey Mozgov       5
Name: year, dtype: int64