In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
filepath = "/home/jouell/code/jouell3/NBA_app/Sport_stat/input/Player Totals.csv"
df_players = pd.read_csv("data/Player Totals.csv")
df_team_abbrev = pd.read_csv('data/Team Abbrev.csv')
len(df_players)

33140

In [34]:
folderpath = Path("/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams")
# get all teh files from teh folder
files = list(folderpath.glob("*.csv"))
file_names = [f.name for f in files]
files

[PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2020_2021.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2018_2019.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2021_2022.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2011_2012.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2012_2013.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2002_2003.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2008_2009.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1994_1995.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2009_2010.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1995_1996.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2006_2007.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1996_1997.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2000_2001.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2022_2023.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2010_2011.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1991_1992.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2013_2014.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2004_2005.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2005_2006.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1998_1999.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2017_2018.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1992_1993.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2019_2020.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2016_2017.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2023_2024.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2001_2002.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1993_1994.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1990_1991.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2014_2015.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2003_2004.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1997_1998.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1999_2000.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2015_2016.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2024_2025.csv'),
 PosixPath('/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2007_2008.csv')]

In [35]:
for file in files:
    print(file, file.name)

/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2020_2021.csv 2020_2021.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2018_2019.csv 2018_2019.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2021_2022.csv 2021_2022.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2011_2012.csv 2011_2012.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2012_2013.csv 2012_2013.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2002_2003.csv 2002_2003.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2008_2009.csv 2008_2009.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1994_1995.csv 1994_1995.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2009_2010.csv 2009_2010.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1995_1996.csv 1995_1996.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2006_2007.csv 2006_2007.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1996_1997.csv 1996_1997.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2000_2001.csv 2000_2001.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2022_2023.csv 2022_2023.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2010_2011.csv 2010_2011.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1991_1992.csv 1991_1992.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2013_2014.csv 2013_2014.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2004_2005.csv 2004_2005.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2005_2006.csv 2005_2006.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1998_1999.csv 1998_1999.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2017_2018.csv 2017_2018.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1992_1993.csv 1992_1993.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2019_2020.csv 2019_2020.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2016_2017.csv 2016_2017.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2023_2024.csv 2023_2024.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2001_2002.csv 2001_2002.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1993_1994.csv 1993_1994.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1990_1991.csv 1990_1991.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2014_2015.csv 2014_2015.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2003_2004.csv 2003_2004.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1997_1998.csv 1997_1998.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/1999_2000.csv 1999_2000.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2015_2016.csv 2015_2016.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2024_2025.csv 2024_2025.csv
/home/jouell/code/jouell3/NBA_app/Sport_stat/input/archiveSalaries_allpro/NBA/data/salaries/teams/2007_2008.csv 2007_2008.csv

In [36]:
df = pd.read_csv(files[0])
df

Empty DataFrame
Columns: [Ranking, Team, 2020/21, 2020/21(*)]
Index: []

In [38]:
team_salaries = pd.DataFrame(columns=["team", "sum_salary", "today", "year"])
for file in files:
    df = pd.read_csv(file, header=0, names=["Ranking", "team", "sum_salary", "today"])
    df["year"] = file.name[:4]
    df = df.drop("Ranking", axis=1).reset_index(drop=True)
    team_salaries = pd.concat([team_salaries, df], ignore_index=True)
team_salaries

              team sum_salary      today  year
0     Golden State  178980766  206963957  2021
1         Brooklyn  174811922  202143321  2021
2      LA Clippers  168378382  194703915  2021
3        LA Lakers  164409293  190114264  2021
4        Milwaukee  160875421  186027881  2021
..             ...        ...        ...   ...
961  Oklahoma City   60861388   91773175  2007
962        Orlando   58165973   87708746  2007
963        Atlanta   55501133   83690424  2007
964        Memphis   54118526   81605579  2007
965      Charlotte   53745468   81043047  2007

[966 rows x 4 columns]

In [39]:
team_salaries.to_csv("data/team_salaries.csv", index=False)

In [3]:
def abbreviation(team):
    if team in df_team_abbrev['abbreviation'].values:
        return df_team_abbrev[df_team_abbrev['abbreviation'] == team]['team'].values[0]
    else:
        return None

In [6]:
#df.to_csv("data/All-Star Selections.csv", index=False)

In [7]:
def team(player_id):
    team = df_players[df_players['player_id'] == player_id]['full_team_name'].values
    return team[0] if len(team) > 0 else None